<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
  </head>
  <body>
    <!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay">   </div>
    <!-- Left panel with reveal effect-->
    <!-- Views -->
    
      <!-- Top Navbar-->
      <div class="navbar">
        <div class="navbar-inner">
          <div class="left intClear">
            <a href="#"  class="back link">
              <i class="icon icon-back"></i>
              <span>Back</span>
            </a>
          </div>
          
          <div class="center sliding"><font class="navBarCaption">Customer Reported Error</font></div>
     
        </div>
      </div>
      <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
      <div class="pages navbar-fixed toolbar-fixed">
        <!-- Page, "data-page" contains page name -->
        <div data-page="quality-matrix" class="page navbar-fixed toolbar-fixed">
          <!-- Scrollable page content -->
          <div  class="page-content" style="height:100%;width:100%;">
          <div class="row" style="height:100%;width:100%;">
              <div class='boxBG-slider leftPannel'>

        <div class="list-block inset">
          <ul>
          <li>
            <div class="item-content">
              Sort By:
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-toggle"></i></div>
              <div class="item-inner">
                <div class="item-title label">Gr Code</div>
                <div class="item-input">
                  <label class="label-switch">
                    <input  type="checkbox"/>
                    <div class="checkbox"></div>
                  </label>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-toggle"></i></div>
              <div class="item-inner">
                <div class="item-title label">Site</div>
                <div class="item-input">
                  <label class="label-switch">
                    <input type="checkbox"/>
                    <div class="checkbox"></div>
                  </label>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-toggle"></i></div>
              <div class="item-inner">
                <div class="item-title label">Reported Date</div>
                <div class="item-input">
                  <label class="label-switch">
                    <input  type="checkbox"/>
                    <div class="checkbox"></div>
                  </label>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-toggle"></i></div>
              <div class="item-inner">
                <div class="item-title label">Batch Date</div>
                <div class="item-input">
                  <label class="label-switch">
                    <input type="checkbox"/>
                    <div class="checkbox"></div>
                  </label>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-toggle"></i></div>
              <div class="item-inner">
                <div class="item-title label">Type of Issue</div>
                <div class="item-input">
                  <label class="label-switch">
                    <input  type="checkbox"/>
                    <div class="checkbox"></div>
                  </label>
                </div>
              </div>
            </div>
          </li>
          </ul>
        </div>

                
              </div>

              <div  class='boxBG-slider rightPannel'>
                  <table class="scrolling-table">
                    <tr>
                      <th>Reported Date</th><th>Batch Date</th><th>no of Error</th><th>Group Site</th><th>Type of Issue</th><th>Description</th>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                                        <tr>
                      <td>Reported Date</td><td>Batch Date</td><td>no of Error</td><td>Group Site</td><td>Type of Issue</td><td>Description</td>
                    </tr>
                  </table>


                
              </div>
            </div>
            
          </div>
          <div class="toolbar ">
            <div class="toolbar-inner">

            </div>
          </div>
        </div></html>