<!DOCTYPE html>
<html>
   <head>
      <!-- Required meta tags-->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
   </head>
   <body>
      <!-- Status bar overlay for full screen mode (PhoneGap) -->
      <div class="statusbar-overlay"></div>
      <!-- Panels overlay-->
      <div class="panel-overlay">   </div>
      <!-- Left panel with reveal effect-->
      <div class="panel panel-left panel-reveal">
         <div class="content-block">
            <!-- Click on link with "close-panel" class will close panel -->
            <p><a href="index" class="go-home">Home</a></p>
            <p><a href="#" class="close-panel">Close</a></p>
            <!-- Click on link with "open-panel" and data-panel="right" attribute will open Right panel -->
         </div>
      </div>
      <!-- Views -->
      <div class="views">
      <!-- Your main view, should have "view-main" class -->
      <div class="view view-main">
      <!-- Top Navbar-->
      <div class="navbar">
         <div class="navbar-inner">
            <div class="left intClear">
               <a href="#" class="back link">
               <i class="icon icon-back"></i>
               <span>Back</span>
               </a>
            </div>
            <div class="center sliding">Key In</div>
         </div>
      </div>
      <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
      <div class="pages navbar-fixed toolbar-fixed">
         <!-- Page, "data-page" contains page name -->
         <div data-page="keyin-detail" class="page navbar-fixed toolbar-fixed">
            <!-- Scrollable page content -->
            <div class="page-content pull-to-refresh-content">
               <div class="pull-to-refresh-layer">
                  <div class="preloader"></div>
                  <div class="pull-to-refresh-arrow"></div>
               </div>
               <!--    <div class="content-block">
                  <div class="page-content">
                    <!-- Slider -->
               <div class="slider-container slider-init" data-speed="400" data-spaceBetween="40" data-pagination=".slider-pagination">
                  <div class="slider-wrapper">
                     <div class="slider-slide" style="height:100%;">
                        <!-- -->
                        <div class="row no-gutter boxBG-slider-full" >
                           <div class="boxBG-slider col-100" id="">
                              <div class="row">
                                 <div></div>
                                 <div class="labelText">Work List Status</div>
                                 <a href="#" class="labelIcon"><i class="fa fa-gear fa-2x"></i></a>
                              </div>
                              <div class="row chartCenterBig">
                                 <div class="col-100" id="chartL5" >  </div>
                              </div>
                              <div class="row legend-container">
                                 <div class="legend" style="background-color:#DC3912;"></div>
                                 <div class="labelText">Un-Assigned</div>
                                 <div class="legend" style="background-color:#FF9900;"></div>
                                 <div class="labelText">Assigned</div>
                                 <div class="legend" style="background-color:#109618;"></div>
                                 <div class="labelText">In Progress</div>
                                 <div class="legend" style="background-color:#000099;"></div>
                                 <div class="labelText">Completed</div>
                                 <div class="legend" style="background-color:#000000;"></div>
                                 <div class="labelText">Submitted</div>
                                 <div class="legend" style="background-color:#990099;"></div>
                                 <div class="labelText">Rejected</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="slider-slide" style="height:100%;">
                        <div class="row no-gutter boxBG-slider-row" >
                           <div class="boxBG-slider col-50" id="">
                              <div class="row">
                                 <div></div>
                                 <div class="labelText">Volume</div>
                                 <a href="#" class="labelIcon"><i class="fa fa-gear fa-2x"></i></a>
                              </div>
                              <div class="row" style="height:100%">
                                 <div class="col-100" id="chartL7" style="height:100%" >
                                    <svg class="bar-chart" style="height:100%">
                                    </svg>
                                 </div>
                              </div>
                              <div class="row">
                              </div>
                           </div>
                           <div class="boxBG-slider col-50" id="">
                              <div class="row">
                                 <div></div>
                                 <div class="labelText">TAT</div>
                                 <a href="#" class="labelIcon"><i class="fa fa-gear fa-2x"></i></a>
                              </div>
                              <div class="row chartCenter">
                                 <div class="col-100" id="chartL6" >  </div>
                              </div>
                              <div class="row legend-container-small">
                                 <div class="legend-small" style="background-color:#DC3912;"></div>
                                 <div class="labelTextSmall">% Missing</div>
                                 <div class="legend-small" style="background-color:#FF9900;"></div>
                                 <div class="labelTextSmall">% Expected To Miss</div>
                                 <div class="legend-small" style="background-color:#109618;"></div>
                                 <div class="labelTextSmall">% Meeting</div>
                              </div>
                           </div>
                        </div>
                        <div class="row no-gutter boxBG-slider-row" >
                           <div class="boxBG-slider col-100" id="">
                              <div class="row">
                                 <div></div>
                                 <div class="labelText">MPI</div>
                                 <a href="#" class="labelIcon"><i class="fa fa-gear fa-2x"></i></a>
                              </div>
                              <div class="row" style="height:100%">
                                 <div class="col-100" id="chartL8" style="height:100%" >
                                    <svg class="bar-chart" style="height:100%">
                                    </svg>
                                 </div>
                                 <div class="row">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="slider-pagination"></div>
                  <!--</div>
                     </div>-->
                  <div class="toolbar ">
                     <div class="toolbar-inner">
                        <a href="#tab1" class="tab-link "><span class="fa "></span></a>
                        <a href="#tab2" class="tab-link "><span class="fa "></span></a>
                        <a href="#" data-popup=".popup-filter" class="open-popup"> &nbsp; <span class="fa  fa-gear fa-lg"></span></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>