<html>
	<head>
		<!-- Required meta tags-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!-- Your app title -->
		<title>My App</title>
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="left intClear">
					<a href="#" class="back link">
					<i class="icon icon-back"></i>
					<span>Back</span>
					</a>
				</div>
				<div class="center sliding">Lockbox Outbound Process</div>
				<div class="item-content pull right">
					<div class="item-inner">
						<div class="item-input">
							Flow :
							<label class="label-switch">
								<input id="isSequnceSelectedOut" type="checkbox" checked>
								<div class="checkbox"></div>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pages">
		<div data-page="lockbox-outbound" class="page">
			<div class="page-content">
				<div class="row no-gutter" style="width:100%; height:100%">
					<div class="boxBGOutbound" style="width:16.4%; height:100%">
						<div class="row">
							<div class="col-50 textAlignCenter boxFlip">
								<div id="PPGreen" class=""><font class="digit" color="#00FF00">100</font> </div>
							</div>
							<div class="col-50 textAlignCenter boxFlip">
								<div id="PPRed" class=""><font class="digit" color="#FF0000">10</font></div>
							</div>
						</div>
						<div class="row" style="position:relative; top:37%">
							<div class="col-100 textAlignCenter innerBoxOut">
								<div id="PPIcon" class="" > <a href="#" data-popover=".popover-PPIcon" class="anchorColor open-popover"><span class="fa fa-forward fa-4x"></span></a></div>
							</div>
						</div>
						<div class="row" style="position:relative; top:37%">
							<div class="col-100 textAlignCenter innerBoxOut">
								<div class="">Pre-Process</div>
							</div>
						</div>
					</div>
					<div class="boxBGOutbound" style="width:16.4%; height:100%">
						<div class="row">
							<div class="col-50 textAlignCenter boxFlip">
								<div id="CRGreen" ><font class="digit" color="#00FF00">100</font> </div>
							</div>
							<div class="col-50 textAlignCenter boxFlip">
								<div id="CRRed" ><font class="digit" color="#FF0000">10</font></div>
							</div>
						</div>
						<div class="row" style="position:relative; top:37%">
							<div class="col-100 textAlignCenter innerBoxOut ">
								<div id="CRIcon" > <font size="11"><a href="#" data-popover=".popover-OGIcon" class="anchorColor open-popover"><span class="fa fa-share-square-o fa-4x"></span></a></font></div>
							</div>
						</div>
						<div class="row" style="position:relative; top:37%">
							<div class="col-100 textAlignCenter innerBoxOut "  >
								<div class="">Output Generation</div>
							</div>
						</div>
					</div>
					<!--</div>-->
					<!--<div class="row no-gutter">-->
					<div class="boxBGOutbound " style="width:16.4%; height:50%">
						<div class="row">
							<div class="col-50 textAlignCenter boxFlip">
								<div id="DM2Green" class=""><font class="digit" color="#00FF00">100</font> </div>
							</div>
							<div class="col-50 textAlignCenter boxFlip">
								<div id="DM2Red" class=""><font class="digit" color="#FF0000">10</font></div>
							</div>
						</div>
						<div class="row" style="position:relative; top:20%">
							<div class="col-100 textAlignCenter innerBoxOut">
								<div id="DM2Icon" class="" > <a href="#" data-popover=".popover-MPIcon" class="anchorColor open-popover"><span class="fa fa-compress fa-4x"></span></a></div>
							</div>
						</div>
						<div class="row" style="position:relative; top:20%">
							<div class="col-100 textAlignCenter innerBoxOut">
								<div class="">Merge Process</div>
							</div>
						</div>
					</div>
					<!--</div>-->
					<!--<div class="row no-gutter">-->
					<div class="boxBGOutbound" style="width:16.4%; height:50%">
						<div class="row">
							<div class="col-50 textAlignCenter boxFlip">
								<div id="RAGreen" class=""><font class="digit" color="#00FF00">100</font> </div>
							</div>
							<div class="col-50 textAlignCenter boxFlip">
								<div id="RARed" class=""><font class="digit" color="#FF0000">10</font></div>
							</div>
						</div>
						<div class="row" style="position:relative; top:20%">
							<div class="col-100 textAlignCenter innerBoxOut">
								<div id="RAIcon" class="" > <a href="#" data-popover=".popover-IIRIcon" class="anchorColor open-popover"><span class="fa fa-file-image-o fa-4x"></span></a></div>
							</div>
						</div>
						<div class="row" style="position:relative; top:20%">
							<div class="col-100 textAlignCenter innerBoxOut">
								<div class="">Image Index Report</div>
							</div>
						</div>
					</div>
					<div class="boxBGOutbound" style="width:16.4%; height:50%">
						<div class="row">
							<div class="col-50 textAlignCenter boxFlip">
								<div id="OGGreen" class=""><font class="digit" color="#00FF00">100</font> </div>
							</div>
							<div class="col-50 textAlignCenter boxFlip">
								<div id="OGRed" class=""><font class="digit" color="#FF0000">10</font></div>
							</div>
						</div>
						<div class="row" style="position:relative; top:20%">
							<div class="col-100 textAlignCenter innerBoxOut">
								<div id="OGIcon" class="" ><a href="#" data-popover=".popover-SDCIcon" class="anchorColor open-popover"> <span class="fa fa-envelope-square fa-4x"></span></a></div>
							</div>
						</div>
						<div class="row" style="position:relative; top:20%">
							<div class="col-100 textAlignCenter innerBoxOut">
								<div class="">Service Detail CSV</div>
							</div>
						</div>
					</div>
					<div class="boxBGOutbound" style="width:16.4%; height:100%">
						<div class="row">
							<div class="col-50 textAlignCenter boxFlip ">
								<div id="MRGreen" class=""><font class="digit" color="#00FF00">100</font> </div>
							</div>
							<div class="col-50 textAlignCenter boxFlip ">
								<div id="MRRed" class=""><font class="digit" color="#FF0000">10</font></div>
							</div>
						</div>
						<div class="row" style="position:relative; top:34%">
							<div class="col-100 textAlignCenter innerBoxOut">
								<div id="MRIcon" class="" ><a href="#" data-popover=".popover-TIcon" class="anchorColor open-popover"> <span class="fa fa-send fa-4x"></span></a></div>
							</div>
						</div>
						<div class="row" style="position:relative; top:34%">
							<div class="col-100 textAlignCenter innerBoxOut" >
								<div class="">Transmission</div>
							</div>
						</div>
					</div>
					<!--</div>-->
					<!--<div class="row no-gutter">-->
					<div class="boxBGOutbound" style="width:49.8%; height:50%; position:relative; top:-50%; left:33.3%">
						<div class="row">
							<div class="col-50 textAlignCenter boxFlip">
								<div id="THGreen" ><font class="digit" color="#00FF00">100</font> </div>
							</div>
							<div class="col-50 textAlignCenter boxFlip">
								<div id="THRed" ><font class="digit" color="#FF0000">10</font></div>
							</div>
						</div>
						<div class="row" style="position:relative; top:20%">
							<div class="col-100 textAlignCenter innerBoxOut ">
                											
								<div id="THIcon" > <font size="11"><a href="#" data-popover=".popover-RPIcon" class="anchorColor open-popover"><span class="fa fa-cube fa-4x"></span></a></font></div>
							</div>
						</div>
						<div class="row" style="position:relative; top:20%">
							<div class="col-100 textAlignCenter innerBoxOut "  >
								<div class="">RA Package</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="greySubBGArrow-Out hidden step step-1">
				<div >
					<img src="img/Arrow White.png"  width="70" height="30">
				</div>
			</div>
			<div class="greySubBGArrow-2-Out hidden step step-2">
				<div>
					<img src="img/Arrow White.png"  width="70" height="30">
				</div>
			</div>
			<div class="greySubBGArrow-3-Out hidden step step-2">
				<div >
					<img src="img/Arrow White.png"  width="70" height="30">
				</div>
			</div>
			<div class="greySubBGArrow-4-Out hidden step step-3">
				<div>
					<img src="img/Arrow White.png"  width="70" height="30">
				</div>
			</div>
			<div class="greySubBGArrow-5-Out hidden step step-3">
				<div >
					<img src="img/Arrow White.png"  width="70" height="30">
				</div>
			</div>
			<div class="greySubBGArrow-6-Out hidden step step-4">
				<div >
					<img src="img/Arrow White.png"  width="70" height="30">
				</div>
			</div>
			<div class="greySubBGArrow-7-Out hidden step step-4">
				<div >
					<img src="img/Arrow White.png"  width="70" height="30">
				</div>
			</div>
			<div class="toolbar ">
				<div class="toolbar-inner">
					<a href="#tab1" class="tab-link "><span class="fa "></span></a>
					<a href="#tab2" class="tab-link "><span class="fa "></span></a>
					<a href="#" data-popup=".popup-filter-lockbox-outbound" class="open-popup"><span class="fa  fa-gear fa-lg"></span></a>
				</div>
			</div>
		</div>
	</body>
</html>