<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
  </head>
  <body>
    <!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay">   </div>
    <!-- Left panel with reveal effect-->
    <!-- Views -->
    
      <!-- Top Navbar-->
      <div class="navbar">
        <div class="navbar-inner">
          <div class="left intClear">
            <a href="#"  class="open-panel">
            <i class="icon icon-menu"></i></span>
            </a>
          </div>
          
          <div class="right sliding" >
            <img style="max-width:150px; " src="img/bank_of_america.png">
          </div>
     
        </div>
      </div>
      <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
      <div class="pages navbar-fixed toolbar-fixed">
        <!-- Page, "data-page" contains page name -->
        <div data-page="quality-matrix" class="page navbar-fixed toolbar-fixed">
          <!-- Scrollable page content -->
          <div  class="page-content">
            <div id ="customer-reported-error" class='boxBG-slider' style="height:50%;width:100%;">
                        <div class="row">
                          <div></div>
                          <div class="labelText" >Customer Reported Error</div>
                          <div></div>
                        </div>
                      <div  class='' id="quality-matrix-charts-customer-reported-error" style="">
                        <a id="app-settings" href="customer-reported-error" class="close-panel"><svg style="height:85%;margin-top:5%"></svg></a>
                        <div class="range-slider" style="width:50%;position:relative;left:25%;">
                          <input id="CRE-slider" type="range" min="2" max="30" value="10" step="1" style="width:95%"><span id="CRE-slider-text" style="position:relative;top:-8px;margin-left:5px;color:white;">10</span>
                        </div>
                      </div>
                    </div>


            <div class='boxBG-slider' style="height:50%;width:100%">
                      <div class="row">
                        <div></div>
                        <div class="labelText" >QC Effectiveness</div>
                        <div></div>
                      </div>
                      <div  class='' id="quality-matrix-charts-customer-qc-effectiveness" style="">
                         <a id="app-settings" href="qc-effectiveness" class="close-panel"><svg style="height:85%;margin-top:5%"></svg></a>
                        <div class="range-slider" style="width:50%;position:relative;left:25%;">
                          <input id="QCE-slider" type="range" min="2" max="30" value="10" step="1" style="width:95%"><span id="QCE-slider-text" style="position:relative;top:-8px;margin-left:5px;color:white;">10</span>
                        </div>
                      </div>
                      </div>
              
            </div>
            
          </div>
          <div class="toolbar ">
            <div class="toolbar-inner">

            </div>
          </div>
        </div>
      
  </body>
</html>