<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
  </head>
  <body>
    <!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay">   </div>
    <!-- Left panel with reveal effect-->
    <!-- Views -->
    <div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left intClear">
          <a href="#"  class="open-panel">
          <i class="fa fa-list-ul fa-lg"></i></span>
          </a>
        </div>
        <div class="left sliding" style="margin-left: -40em;">
              <img style="max-width:200px; margin-top: -7px;" src="img/bank_of_america.png">
        </div>
      </div>
    </div>
    <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
    <div class="pages navbar-fixed toolbar-fixed">
      <!-- Page, "data-page" contains page name -->
      <div data-page="reports" class="page navbar-fixed toolbar-fixed">
        <!-- Scrollable page content -->
        <div class="page-content ">
         
          <!-- Slider -->
          <div class="slider-container slider-init" data-speed="400" data-spaceBetween="40" data-pagination=".slider-pagination">
            <div class="slider-wrapper">
              <div class="slider-slide" style="height:100%;">
                <div class="row no-gutter boxBG-slider-full" >
                  <div class="boxBG-slider col-100" id="">
                    <div class="row" >
                      <div></div>
                      <div class="labelText" >Forecasted vs Actual Volume</div>
                      <div style="text-align:right ; margin-top:5px; margin-right:5px">
                        <a href="#" data-popup=".reports-popup" class="open-popup"><i class="fa fa-gear fa-2x"></i></a>
                      </div>
                    </div>
                    <div class='chart half' id="reports-charts-forcasted-vs-actual" style="height:95%;width:100%; padding-left:10px">
                      <svg  style="height:90%;margin-top:5%"></svg>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="slider-slide" style="height:100%;">
                <div class="row no-gutter boxBG-slider-full" >
                  <div class="boxBG-slider col-100" >
                    <div class="row">
                      <div></div>
                      <div class="labelText" >TAT Average and Median</div>
                      <div style="text-align:right ; margin-top:5px; margin-right:5px">
                        <a href="#" data-popup=".reports-popup" class="open-popup"><i class="fa fa-gear fa-2x"></i></a>
                      </div>
                    </div>
                    <div class='' id="TAT-line-chart" style="height:95%;width:100%; padding-left:10px">
                      <svg  style="height:90%;margin-top:3%"></svg>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slider-slide" style="height:100%;">
                <div class="row no-gutter boxBG-slider-full" >
                  <div class="boxBG-slider col-100" id="">
                    <div class="row">
                      <div></div>
                      <div class="labelText" >Claim Volume</div>
                      <div style="text-align:right ; margin-top:5px; margin-right:5px">
                        <a href="#" data-popup=".reports-popup" class="open-popup"><i class="fa fa-gear fa-2x"></i></a>
                      </div>
                    </div>
                    <div class='chart half' id="reports-claim-data-volume" style="height:95%;width:100%; padding-left:25px">
                      <svg  style="height:90%;margin-top:5% "></svg>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slider-slide" style="height:100%;">
                <div class="row no-gutter boxBG-slider-full" >
                  <div class="boxBG-slider col-100" id="">
                    <div class="row">
                      <div></div>
                      <div class="labelText" >Percentage of MPI Used</div>
                      <div style="text-align:right ; margin-top:5px; margin-right:5px">
                        <a href="#" data-popup=".reports-popup" class="open-popup"><i class="fa fa-gear fa-2x"></i></a>
                      </div>
                    </div>
                    <div class='chart half' id="reports-percentage-MPI-used" style="height:95%;width:100%; padding-left:25px">
                      <svg  style="height:90%;margin-top:5%"></svg>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slider-slide" style="height:100%;">
                <div class="row no-gutter boxBG-slider-full" >
                  <div class="boxBG-slider col-100" id="">
                    <div class="row">
                      <div></div>
                      <div class="labelText" >MPI Load Time Stat</div>
                      <div style="text-align:right ; margin-top:5px; margin-right:5px">
                        <a href="#" data-popup=".reports-popup" class="open-popup"><i class="fa fa-gear fa-2x"></i></a>
                      </div>
                    </div>
                    <div class='' id="MPI-stacked-area-chart" style="height:95%;width:100%; padding-left:10px">
                      <svg  style="height:90%;margin-top:3%"></svg>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slider-slide" style="height:100%;">
                <div class="row no-gutter boxBG-slider-full" >
                  <div class="boxBG-slider col-100" id="">
                    <div class="row">
                      <div></div>
                      <div class="labelText" >
                        <select id="list-selector" class="bigger">
                          <option value="Site List Missed TAT">Site List Missed TAT</option>
                          <option value="Client List MPI Decline">Client List MPI Decline</option>
                        </select>
                      </div>
                      <div style="text-align:right ; margin-top:5px; margin-right:5px">
                        <a href="#" data-popup=".reports-popup" class="open-popup"><i class="fa fa-gear fa-2x"></i></a>
                      </div>
                    </div>
                    <form data-search-list=".search-here" data-search-in=".item-title" class="searchbar">
                      <div class="searchbar-input">
                        <input type="search" placeholder="Search" id="searchbar-input-bar"/><a href="#" class="searchbar-clear"></a>
                      </div>
                      <a href="#" class="searchbar-cancel">Cancel</a>
                    </form>
                    <div class="searchbar-overlay"></div>
                    <div class="page-content">
                      <div class="list-block searchbar-not-found">
                        <ul>
                          <li class="item-content">
                            <div class="item-inner">
                              <div class="item-title">Nothing found</div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="list-block search-here searchbar-found">
                        <ul id="reports-missed-TAT">
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
            </div>
            <div class="slider-pagination"></div>
       
          </div>
        </div>
      </div>
    </div>