


path.slice{
stroke-width:2px;
}
polyline{
opacity: .3;
stroke: black;
stroke-width: 2px;
fill: none;
} 
svg text.percent{
fill:white;
text-anchor:middle;
font-size:12px;
}


			



.bigger{
	width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(../img/new_arrow.jpg) no-repeat right #ddd;
   border: 1px solid #ccc;
   font-size: 100%;
   margin-bottom:5px;
}

.legend {
	border-radius: 50%;
	width: 30px;
	height: 30px;
}


g .disabled{
	opacity: 1;
	pointer-events:auto;
}

.nv-controlsWrap{
	display:none;
} 

.legend-small {
	border-radius: 50%;
	width: 15px;
	height: 15px;
}

 .labelTextSmall {
    color:white;
    margin-right:50px;
}

 .labelIcon {
    margin-right:10px;
    margin-top:10px;

}

svg text {
    fill: white;
}


svg .nvd3 .nv-discretebar .nv-groups text,
svg .nvd3 .nv-multibarHorizontal .nv-groups text {
  font-weight: bold;
  fill: white;
  stroke: rgba(0,0,0,0);
}


.nvd3 .nv-multibar .nv-groups rect, .nvd3 .nv-multibarHorizontal .nv-groups rect, .nvd3 .nv-discretebar .nv-groups rect {
stroke-opacity: 1;
fill-opacity: 1;
transition: fill-opacity 250ms linear;
-moz-transition: fill-opacity 250ms linear;
/* -webkit-transition: fill-opacity 250ms linear; */
}

.legend-container-small{
	margin-left:10px;
	margin-right:10px;
	padding:10px;
	border:1px solid white;
	background-color: gray;
}

.legend-container{
	margin-left:10px;
	margin-right:10px;
	padding:10px;
	border:1px solid white;
	background-color: gray;
}

.tick line {
display: none;
}

.chartCenter{
	margin-top: -40px;
	margin-left: -webkit-calc( 50% - 150px);
  	margin-left: -moz-calc(50% - 150px);
  	margin-left: calc( 50% - 150px);
}

.chartCenterBig{
	margin-left: -webkit-calc( 50% - 250px);
  	margin-left: -moz-calc(50% - 250px);
  	margin-left: calc( 50% - 250px);
}

div.divCenter {
	margin-left: -webkit-calc( 50% -20px);
  	margin-left: -moz-calc(50% -20px );
  	margin-left: calc( 50% - 20px);
  	margin-top: -10px;
}

.welcomeBG{	
	/*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1)));
	*/
	background: -webkit-linear-gradient(top, #000000 0%,rgba(56,56,56,1) 13%,rgba(78,78,78,1) 27%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
	height: 1em;
	display: table; 
	border: 1px solid black;
	width:50%;
}


.innerBox{
	position:relative;
	top:45px;
}

.innerBoxOut{
	position:relative;
	top:25px;
}



.textAlignCenter {
	text-align:center; 
	vertical-align: middle;
	display: table-cell; 
	color: white;
}

.textAlignLeft {
	text-align:left; 
	vertical-align: middle;
	display: table-cell; 
	color: white;
}

.textAlignRight {
	text-align:right; 
	vertical-align: middle;
	display: table-cell; 
	color: white;
}


div.boxBG{
	
	width:100%;
    background: -webkit-linear-gradient(top, #000000 0%,rgba(56,56,56,1) 13%,rgba(78,78,78,1) 27%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
	border: 1px solid white;
	height:23.2em;
}

div.boxBG-slider{
	
	width:100%;
    background: -webkit-linear-gradient(top, #000000 0%,rgba(56,56,56,1) 13%,rgba(78,78,78,1) 27%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
	border: 1px solid white;
	height: 100%;
}

div.boxBG-slider-row{
	height: -webkit-calc( 50% - 15px);
  	height: -moz-calc(50% - 15px);
  	height: calc( 50% - 15px);
}

div.boxBG-slider-full{
	height: -webkit-calc( 100% - 30px);
  	height: -moz-calc(100% - 30px);
  	height: calc( 100% - 30px);
}

div.whiteBox{
	border: 1px solid white;
	text-align:center;
	border-radius: 3px;
	height: 2.4em;
	width:100%;
	display: table; 	
}

div.whiteSubBox{
	vertical-align: middle;
	display: table-cell; 
}


.popover {
      width: 200px;
}




.greySubBGArrow-firstRow-first {
	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: -webkit-calc( 18%);
	left: -webkit-calc( 33% - 27px);
	z-index:1;
}

.greySubBGArrow-secondRow-first {
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: -webkit-calc( 46%);
	left: -webkit-calc( 33% - 38px);
	z-index:1;
}


.greySubBGArrow-thirdRow-first {
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: -webkit-calc( 76.5%);
	left: -webkit-calc( 33% - 38px);
	z-index:1;
}





.greySubBGArrow-firstRow-second {
	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: -webkit-calc( 18%);
	left: -webkit-calc( 66% - 25px);
	z-index:1;
}


.greySubBGArrow-secondRow-second {
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: -webkit-calc( 46%);
	left: -webkit-calc( 66% - 38px);
	z-index:1;
}


.greySubBGArrow-thirdRow-second {
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: -webkit-calc( 76.5%);
	left: -webkit-calc( 66% - 38px);
	z-index:1;
}





.greySubBGArrow-firstRow-vertical {
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */

	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: -webkit-calc( 33%);
	left: -webkit-calc( 80% );
	z-index:1;
}



.greySubBGArrow-secondRow-vertical-1 {
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */

	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: -webkit-calc( 63.5%);
	left: -webkit-calc( 13.5% );
	z-index:1;
}


.greySubBGArrow-secondRow-vertical-2 {
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */

	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: -webkit-calc( 63.5%);
	left: -webkit-calc( 80% );
	z-index:1;
}






.greySubBGArrow-Out{
	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: 48%;
	left:13.8%;
	z-index:1;
}


.greySubBGArrow-2-Out{
	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: 25%;
	left:30.5%;
	z-index:1;
}

.greySubBGArrow-3-Out{
	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: 69.8%;
	left:30.5%;
	z-index:1;
}


.greySubBGArrow-4-Out{
	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: 25%;
	left:47%;
	z-index:1;
}



.greySubBGArrow-5-Out{
	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: 25%;
	left:63.5%;
	z-index:1;
}


.greySubBGArrow-6-Out{
	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: 25%;
	left:80.5%;
	z-index:1;
}


.greySubBGArrow-7-Out{
	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: 69.8%;
	left:80.5%;
	z-index:1;
}



.greySubBGArrow-Claim{
	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: 25%;
	left:30.5%;
	z-index:1;
}

.greySubBGArrow-2-Claim{
	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: 25%;
	left:64%;
	z-index:1;
}

.greySubBGArrow-3-Claim{
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: 48%;
	left:80%;
	z-index:1;
}


.greySubBGArrow-4-Claim{
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
	font-size:30px;
	text-align: center;
	display: table; 
	position: absolute;
	top: 69.8%;
	left:46%;
	z-index:1;
}

.hidden{
	display:none;
}



div.boxBGInbound{
	
	width:100%;
    background: -webkit-linear-gradient(top, #000000 0%,rgba(56,56,56,1) 13%,rgba(78,78,78,1) 27%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
	border: 1px solid white;
	height:16em;
	position:relative;
}

div.boxBGOutbound{
	
	width:100%;
    background: -webkit-linear-gradient(top, #000000 0%,rgba(56,56,56,1) 13%,rgba(78,78,78,1) 27%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
	border: 1px solid white;
	height:11.6em;
	position:relative;
}


div.icoBox{
	background-color: grey;
    width: 35px; 
    height:35px; 
    border-radius:7px;
    display:block; 
    text-align:center;
    color:white;
    padding: 5px;

}



@media all and (min-width:630px) and (min-height:630px) {
    .popup {
        width: 50%;
        height: 100%;
        left: 50%;
        top: 0%;
        margin-left: 0;
        margin-top: 0;
    }
}


/* === set font to Apple's Default font === */

font{
	
	font-family:"Helvetica";
	font-weight:500;
	font-size: 100%;
	
}

div.labelText{
    font-family:"Helvetica";
	font-weight:500;
	font-size: 140%;
	color: white;
	margin-top: 6px;

} 

@font-face {
	font-family: 'digi';
	/*src: url('http://cssdeck.com/uploads/resources/fonts/digii/DS-DIGII.TTF'); */
	src: url('../fonts/DS-DIGII.TTF');
}

font.digital{
	font-size: 170%;
	font-family: "digi";

}

font.digit{
	font-size: 170%;
	font-family: "digi";

}

/*============================================================================*/